Index:
  Background: Build

CompileFlags:
  CompilationDatabase: .
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wshadow
    - -std=c++20
    - -Iinclude
  Remove: [-m*, -f*]

Diagnostics:
  UnusedIncludes: Strict
  Suppress:
    - '*/scl/binding/c_api/*.h'
    - '*/scl/binding/c_api/*/*.h'
    - modernize-use-using:*.h
  ClangTidy:
    Add:
      - modernize*
      - performance*
      - bugprone*
      - cppcoreguidelines*
      - readability-redundant-*
    Remove:
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-type-reinterpret-cast
      - cppcoreguidelines-owning-memory
      - cppcoreguidelines-no-malloc
      - cppcoreguidelines-avoid-c-arrays
      - modernize-use-trailing-return-type
      - bugprone-easily-swappable-parameters
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-pro-bounds-constant-array-index
      - cppcoreguidelines-non-private-member-variables-in-classes
      - readability-redundant-member-init

Completion:
  AllScopes: true

Hover:
  ShowAKA: true

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true