{# Jinja2 template for C API documentation #}
# {{ title }}

> Source: `{{ source_path }}`

## Overview

<!-- TODO: Add module overview description -->

{% if functions %}
---

## Functions

{% for func in functions %}
### `{{ func.name }}`

```c
{{ func.signature }}
```

{% if func.doc %}
{{ func.doc }}

{% else %}
<!-- TODO: Add function description -->

{% endif %}
**Parameters:**

| Name | Type | Direction | Description |
|------|------|-----------|-------------|
{% for param in func.parameters %}
| `{{ param.name }}` | `{{ param.type }}` | {{ param.direction }} | <!-- TODO --> |
{% endfor %}

**Returns:**

`{{ func.return_type }}` - <!-- TODO: Add return description -->

---
{% endfor %}
{% endif %}

{% if structs %}
## Structures

{% for struct in structs %}
### `{{ struct.name }}`

```c
{{ struct.definition }}
```

{% if struct.doc %}
{{ struct.doc }}
{% else %}
<!-- TODO: Add struct description -->
{% endif %}

{% if struct.fields %}
**Fields:**

| Field | Type | Description |
|-------|------|-------------|
{% for field in struct.fields %}
| `{{ field.name }}` | `{{ field.type }}` | <!-- TODO --> |
{% endfor %}
{% endif %}

---
{% endfor %}
{% endif %}

{% if enums %}
## Enumerations

{% for enum in enums %}
### `{{ enum.name }}`

{% if enum.doc %}
{{ enum.doc }}
{% else %}
<!-- TODO: Add enum description -->
{% endif %}

**Values:**

| Name | Value | Description |
|------|-------|-------------|
{% for val in enum.values %}
| `{{ val.name }}` | {{ val.value }} | <!-- TODO --> |
{% endfor %}

---
{% endfor %}
{% endif %}

*Generated by codegen on {{ timestamp }}*
